* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  padding: 0 6vw;
  background-color: #111;
}

nav {
  width: 88%;
  position: fixed;
  background: #111;
  height: 10vh;
  padding: 3vh 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in 0.2s;
  z-index: 1;
  /* border-bottom: 1px solid #929090; */
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.nav-right a:hover {
  color: #0ba34e;
}

/* .what {position: relative;} */
.what .part1 {
  transition: all ease-in-out 0.2s;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.part1:hover {
  background-color: grey;
}

.what:hover .what-bottom {
  height: 53vh;
  opacity: 1;
  pointer-events: auto;
}

.what-bottom {
  background-color: #ffffff;
  position: absolute;
  left: 45.4vw;
  width: 9vw;
  height: 0;
  top: 8.3vh;
  transition: all ease-out 0.5s;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  pointer-events: none;
  padding: 1vh 1vh;
  overflow: hidden;
}

.what-bottom .elem:nth-child(1) {
  border: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2vh;
}

.what-bottom .elem {
  line-height: 2;
  border-bottom: 1px solid #111;
  padding: 1.7vh 1.5vh;
  width: 100%;
}

.what-bottom h4 {
  font-size: 1.4vh;
  color: black;
  font-weight: 600;
}

.elem h4:hover {
  color: #0ba34e;
}

.nav-right a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: 700;
}

.nav-right-btn {
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: #0ba34e;
  border-radius: 50px;
  padding: 10px 18px;
  border: none;
  /* transition: all ease 0.25s; */
}

.nav-right-btn i {
 font-size: 1vw;
 /* background-color: red; */
}

.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
}

.page1 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -5px;
  display: flex;
  align-items: center;
}

.page1 h1 span {
  font-size: 2vw;
  padding: 1.6vw 1.8vw;
  background-color: #0ba34e;
  border-radius: 50%;
}

.page1 p {
  margin-top: 7vh;
  font-weight: 400;
  text-align: center;
  font-size: 1vw;
}

.page1-something {
  margin-top: 0.7vh;
  display: flex;
  align-items: center;
  font-weight: 400;
  text-align: center;
  font-size: 1.3vw;
}

.page1-something h6:nth-last-child(2) {
  border: none;
  padding: 4px;
}

.page1-something h6 {
  border: 1px solid #9f9e9e;
  padding: 4px 6px;
  border-radius: 50px;
  font-weight: 400;
  margin-bottom: 15vh;
}

/* .video-container {
  height: 100vh;
  width: 100%;
  background-color: red;
  border-radius: 20px;
  overflow: hidden;
}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-container .play {
  background-color: #0ba34e;
  color: white;
  position: fixed;
  height: 15vh;
  width: 15vh;
  font-size: 1vw;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

#moving-div {
  position: absolute;
  bottom: 3%;
  white-space: nowrap;
  padding: 1.2vw;
  overflow: hidden;
  width: 45%;
}

#moving-div .move {
  display: inline-block;
  animation-name: mobe;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-div .move img {
  height: 1.5vw;
  margin: 0 1.2vw;
}

@keyframes mobe {
  0% { transform: translateX(0) }
  100% {transform: translateX(-100%);}
}

#blur-left {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #111, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#blur-right {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, transparent, #111);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #dadada;
}

.page2-left {
  height: 85%;
  width: 28%;
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 8vh;
  padding-left: 1vw;
  padding-bottom: 1vh;
  
}

.up p {font-size: 1.8vh; color: #d3d1d1;}
.down h5 {font-weight: 400; font-size: 2.2vh; line-height: 1.3; color: #d3d1d1;}

.page2-right {
  height: 85%;
  width: 55%;
  display: flex;
  flex-direction: column;
}

.page2-right .elem {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4vh 0;
  padding-bottom: 7vh;
  border-bottom: 1px solid #dadada;
  position: relative;
}

.elem img {
  height: 7vw;
  width: 7.2vw;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
  transform: translate(-50%,-50%);
}

.elem-left {width: 70%; font-size: 2.2vh;}
.elem-left h2 {font-weight: 400;}
.elem-right {display: flex; align-items: center; gap: 3vh;}
.elem-right p {font-size: 1.8vh; color: #6e6d6d;}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: #222;
  background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
  /* background-size: contain; */
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page3-center {
  height: 8vw;
  width: 10vw;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2vw;
  flex-direction: column;
}

.page3-center i {
  color: #111;
  background-color: #fff;
  padding: 3vw 3vw;
  border-radius: 50%;
  font-size: 2.8vw;
}

.page3-center h5 {
  text-transform: uppercase;
  background-color: #fff;
  padding: 1vh 1.5vh;
  color: #111;
  font-size: 1.5vh;
  border-radius: 10px;
  opacity: 0;
  transition: all ease 0.5s;
  transform: translateY(20%);
}

.page3-center:hover h5{
  opacity: 1;
  transform: translateY(0%);
}

.page3 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transform: scaleX(0.7) scaleY(0);
  opacity: 0;
  border-radius: 30px;
}
